.nxPortfolioConcepts__heading,
.nxPortfolioProcess__heading,
.nxPortfolioLive__heading,
.nxPortfolioSpotlight__heading,
.nxPortfolioWhy__heading,
.premiumTestimonials__heading,
.sectionHeading,
.contact-options-section-heading,
.contact-why-chooseus-section-heading,
.contact-ourprocess-section-heading,
.support-section-heading,
.careers-section-heading,
.career-process-section-heading,
.career-section-heading,
.inquiryContent,
.findus-section-title,
.nx-solution-heading,
.nx-services-heading,
.nx-industries-heading,
.nx-why-heading,
.nx-testimonial-heading,
.nx-cta-content,
.nxTransformation__heading,
.nxFeatureGrid__heading,
.terms-final-card {
  position: relative;
  z-index: 2;
  text-align: center;
  max-width: 48rem;
  margin: 0 auto 4rem;
}

.nxPortfolioTech__heading span,
.nxPortfolioProcess__heading span,
.nxPortfolioLive__heading span,
.nxPortfolioSpotlight__category,
.nxPortfolioSpotlight__heading span,
.nxPortfolioWhy__heading span,
.premiumTestimonials__heading span,
.sectionHeading span,
.contact-options-section-heading span,
.contact-why-chooseus-section-heading span,
.contact-ourprocess-section-heading span,
.support-section-heading span,
.careers-section-heading span,
.career-process-section-heading span,
.career-section-heading span,
.inquiryContent span,
.findus-section-title span,
.terms-final-tag,
.nx-stats-heading span,
.nx-section-tag,
.nx-solution-heading span,
.nx-services-heading span,
.nx-industries-heading span,
.nx-why-heading span,
.nx-testimonial-heading span,
.nx-cta-content span,
.nx-section-tag,
.nxHeroTopBadge,
.career-badge,
.browserTag,
.nxTransformation__heading span,
.nxFeatureGrid__heading span,
.pricingHeroSEOHeader span,
.terms-final-card span {
  display: inline-block;
  padding: 0.8rem 1.8rem;
  border-radius: 5rem;
  background: #eef2ff;
  color: #6d5bff;
  font-weight: 700;
  letter-spacing: 0.08rem;
  border: 1px solid rgb(0, 0, 0, 0.286);
  margin-bottom: 1.5rem;
}

.nxPortfolioTech__heading h2,
.nxPortfolioProcess__heading h2,
.nxPortfolioLive__heading h2,
.nxPortfolioSpotlight__heading h2,
.nxPortfolioWhy__heading h2,
.premiumTestimonials__heading h2,
.sectionHeading h2,
.contact-options-section-heading h2,
.contact-why-chooseus-section-heading h2,
.contact-ourprocess-section-heading h2,
.support-section-heading h2,
.careers-section-heading h2,
.career-process-section-heading h2,
.career-section-heading h2,
.inquiryContent h2,
.findus-section-title h2,
.nx-stats-heading h2,
.nx-solution-heading h2,
.nx-services-heading h2,
.nx-industries-heading h2,
.nx-why-heading h2,
.nx-testimonial-heading h2,
.nx-cta-content h2,
.nxTransformation__heading h2,
.nxFeatureGrid__heading h2,
.pricingHeroSEOHeader h2,
.terms-final-card h2 {
  font-size: 2rem;
  font-weight: 900;
  color: #111827;
  line-height: 1.8;
  margin-bottom: 1.5rem;
}

.nxPortfolioTech__heading p,
.nxPortfolioProcess__heading p,
.nxPortfolioWhy__heading p,
.contact-options-section-heading p,
.contact-why-chooseus-section-heading p,
.support-section-heading p,
.careers-section-heading p,
.career-section-heading p,
.findus-section-title p,
.inquiryContent p,
.nx-stats-heading p,
.nx-solution-heading p,
.nx-services-heading p,
.nx-industries-heading p,
.nx-why-heading p,
.nx-testimonial-heading p,
.nxTransformation__heading p,
.nxFeatureGrid__heading p,
.pricingHeroSEOHeader p,
.terms-final-card p {
  color: #64748b;
  line-height: 2rem;
  font-size: 1.05rem;
}

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Pacifico&family=Quicksand:wght@300..700&family=Quicksand:wght@300..700&family=Signika:wght@300..700&family=Outfit:wght@100..900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&family=Caveat:wght@400..700&family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Acme&family=Courgette&family=Handlee&family=Kalam:wght@300;400;700&family=Patrick+Hand&family=Satisfy&family=Space+Grotesk:wght@300..700&family=Sriracha&family=Tangerine:wght@400;700&&family=League+Spartan:wght@100..900&family=Quicksand:wght@300..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Afacad+Flux:wght@100..1000&family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Acme&family=Sofia+Sans+Semi+Condensed:ital,wght@0,1..1000;1,1..1000&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.4px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1.2px;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
  word-spacing: 0.1rem;
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.8;
}
p,
span,
input,
button,
textarea,
a,
th,
td,
li,
caption,
label,
small,
strong {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 1rem;
  font-style: normal;
}

a {
  text-decoration: none;
}

strong,
small {
  font-size: 0.9rem;
}